# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
.env
# Django
staticfiles/
media/
# IDE
.vscode/
.idea/
# OS
.DS_Store
Thumbs.db
.env
.env

# Python/venv
__pycache__/
*.py[cod]
.venv/

# Local env
.env

# DB (if any sqlite)
*.sqlite3

# Editor/OS
.vscode/
.DS_Store
